.top_most {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}



.parent_div {
    margin: 0px;
    padding: 0px;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    text-align: center;
    margin: 0px 0px 2px 0px;
    color: #f29d9d;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-shadow: 2px 4px black;
}

.parent_div span {
    color: rgb(5, 237, 191);
    font-weight: bold;

}

.parent_div h3 span {
    color: #f29d9d;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}

.parent_div h3 {
    text-align: center;
    word-spacing: 3px;
    margin: 0px;
    margin: 0;
    color: rgb(5, 237, 191);
    text-transform: uppercase;
}

.outer_div {
    width: 300px;
    display: flex;
}

.outer_div div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    font-size: 50px;
    color: white;
    border: 2px solid rgb(5, 237, 191);
    box-shadow: 4px 3px 3px #f29d9d;
}

.parent_div button {
    text-align: center;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    color: #f29d9d;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: 2px 1px black;
    border: 2px solid rgb(5, 237, 191);
    background-color: transparent;
    border-radius: 10px;
}

.p1mark {
    color: #f29d9d;
    font-weight: bold;
}

.p2mark {
    color: rgb(5, 237, 191);
    font-weight: bold;
}

.victory_count {

    width: 25vw;

    color: rgb(5, 237, 191);
}

.p1result {
    text-align: left;
    width: 25vw;
    height: 48%;
    margin-left: 50px;
    color: #f29d9d;
}

.p2result {
    height: 48%;
    text-align: right;
    width: 25vw;
    margin-right: 50px;
    color: rgb(5, 237, 191);


}

.result_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
}

.result_div h1 {
    height: 80px;
}

.first_victories,
.second_victories {
    height: 50%;
    margin-bottom: 0px;
    text-align: center;
    width: 25vw;
    color: wheat;
}

.first_victories span {
    font-size: 50px;
    color: #f29d9d;

}

.second_victories span {
    font-size: 50px;
    color: rgb(5, 237, 191);
}